<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="GraphDBUser" value="neo4j" />
    <add key="GraphDBPassword" value="sysk16" />
    <add key="GraphDBUri" value="bolt://localhost:7687" />
    <add key="ClientUri" value ="http://localhost:7474/db/data"/>

    <add key="descriptions" value="file:///sct2_Description_Snapshot-en_INT_20170731.txt"/>
    <add key="concepts" value="file:///sct2_Concept_Snapshot_INT_20170731.txt" />
    <add key="relationships" value="file:///sct2_Relationship_Snapshot_INT_20170731.txt"/>
    <add key="refset" value="file:///der2_cRefset_LanguageSnapshot-en_INT_20170731.txt"/>

    <add key="fullDescriptions" value ="\Neo4j\default.graphdb\import\sct2_Description_Snapshot-en_INT_20170731.txt"/>
    <add key="fullConcepts" value="\Neo4j\default.graphdb\import\sct2_Concept_Snapshot_INT_20170731.txt"/>
    <add key="fullRelationships" value="\Neo4j\default.graphdb\import\sct2_Relationship_Snapshot_INT_20170731.txt"/>
    <add key ="fullRefset" value="\Neo4j\default.graphdb\import\der2_cRefset_LanguageSnapshot-en_INT_20170731.txt"/>
  </appSettings>
</configuration>